.upper-container {
    display: flex;
    flex-direction: row;
}

.content-container {
    width: 100%;
}

.upper-image-container {
    display: flex;
    flex-direction: row; 
    position: absolute;
    width: 100%;    
    /* left: calc(100px - ( (100vw * 0.2) - (100vw * 0.1))); */
    /* right: calc(100vw-((100vw * 0.2) - (100vw * 0.1))); */
    left: calc(100vw-(100vw / 0.1));
}

.upper-image {
    margin-left: 175px;
    margin-top: 55px;
    max-width: 70%;
    height: auto;  
    z-index: 5;
}

.lower-image-container {
    display: flex;
    flex-direction: row; 
    position: absolute;
    width: 100%; 
    /* left: calc(100px - ( (100vw * 0.2) - (100vw * 0.1))); */
    right: calc(100vw-((100vw * 0.2) - (100vw * 0.1)));
    /* left: calc(100vw-(100vw / 0.1)); */
    background-color: rgba(0, 0, 0, 0.511);
}
.lower-image {
    right: 0px;
    position: absolute;
    margin-right: 125px;
    max-width: 70%;
    height: auto;  
    z-index: 5;
}

.tick-rectangle-image{
    position: absolute;
    width: fit-content;
    display: flex;
    margin-top: 7%;
    right: 42%;
}

#lower-rectangle.tick-rectangle-image{
    margin-top: 21%;
    right: 17%;
}

.pathst-image{
    position: absolute;
    width: fit-content;
    display: flex;
    margin-top: 475px;
    right: 35%;
}

#upper-pathst.pathst-image{
    margin-top: 80px;
    right: 10%;
}

.upper-light-rectangle-image{
    display: none;
}

.upper-tick-rectangle-image{
    display: none;
}

.upper-pathst-image{
    display: none;
}

.light-rectangle-image{
    position: absolute;
    width: fit-content;
    display: flex;
    margin-top: 8%;
    right: 41%;
}

.left-component{
    width: 50%;
}

.lower-left-component{
    width: 18%;
}

.header-container{
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    background-color: #FFF;
}
.connection-container{
    align-items: center;
    display: flex;
    width: 100%;
    height: 256px;
}

#lowwer-connection.connection-container{
    margin-top: 80px;
}
.collaboration-container{
    align-items: center;
    display: flex;
    width: 100%;
    height: 256px;
    background-color: #F5F4F9;
}
.growth-container{
    align-items: center;
    display: flex;
    width: 100%;
    height: 256px;
    background-color: #5E3DB3;
}
.lower-growth-container{
    align-items: center;
    display: flex;
    width: 100%;
    height: 256px;
    background-color: #090C35;
}

.right-component{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 40%;
}

.header{
    color: #E7E7E7;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lower-header{
    margin-top: 200px;
    color: #E7E7E7;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sub-title{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 31px;
    flex-direction: row;
    display: flex;
}


#last-subtitle-component.sub-title:last-child {
    color: #fff;
}

.content-detail{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    max-width: 717px;
}
#last-detail-component.content-detail:last-child {
    color: #fff;
}


.number-title{
    width: fit-content;
}

.number-component{
    display: flex;
    flex-direction: column;
    padding-right: 5px;
}
.number-underline{
    width: 19px;
    height: 5px;
    border-radius: 2.5px;
    background: #603EBE;
}
@media (max-width: 768px) {
    .upper-image {
        margin-left: -160px;
        margin-top: 70px;
        max-width: 70%;
        height: auto;  
    }
    .left-component{
        width: 40%;
        background-color: rgb(240, 162, 46);
    }
    .right-component{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 50%;
    }
    .header{
        margin-top: 20px;
    }
    .upper-light-rectangle-image{
        display: flex;
        position: absolute;
        margin-top: 50px;
        left: 5%;
    }
    .upper-tick-rectangle-image{
        display: flex;
        position: absolute;
        margin-top: 60px;
        left: 8%;
    }
    .upper-pathst-image{
        display: flex;
        position: absolute;
        margin-top: 80px;
        left: 1.5%;
    }
    .lower-left-component{
        width: 5%;
    }
    .lower-image {
        left: 36%;
        position: absolute;
        margin-top: 33px;
        min-width: 100%;
        height: auto;  
        z-index: 5;
    }
    .lower-header{
        margin-top: 52px;
        color: #E7E7E7;
        font-size: 90px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    #lowwer-connection.connection-container{
        margin-top: 0px;
    }

    .pathst-image{
        display: none;
    }
    #upper-pathst.pathst-image{
        display: flex;
        margin-top: 260px;
        right: 10%;
    }
    .tick-rectangle-image{
        position: absolute;
        width: fit-content;
        display: flex;
        margin-top: 120px;
        right: 32%;
    }
    .light-rectangle-image{
        position: absolute;
        width: fit-content;
        display: flex;
        margin-top: 135px;
        right: 29%;
    }

  }

  
  